@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");

// variables
// paletas
$colorprincipal: rgb(255, 186, 77);
$colortarjetas1: #f3d9b0;
$colortarjetas2: #fda5b8;

$font1: "Poppins", sans-serif;
// "Nunito", sans-serif
$font2: "Roboto Mono";
// maps
$headings: (
  h1: 3.5rem,
  h2: 1.5rem,
  h3: 2rem,
  h4: 2rem,
  h6: 1rem,
);
// fin maps

// mixin

@mixin btn {
  font-size: 1rem;
  border: 0;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 1.5rem;
  color: white;
}

@mixin tarjeta {
  background-color: #f3d9b0;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
// extend en .tarjetas

//
// fin variables
//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f3f0f0;
  font-family: $font1;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  nav {
    height: 80px;
    width: 100%;

    #check {
      display: none;
    }
  }

  .checkbtn {
    font-size: 20px;
    color: $colorprincipal;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
  }

  .enlace {
    position: absolute;
    padding: 20px 50px;
  }
  .logo {
    height: 45px;
  }

  ul {
    float: right;
    margin-right: 20px;
  }

  ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
  }

  li a {
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 12px;
    padding: 8px 13px;
    text-transform: uppercase;
  }

  li a.active,
  li a:hover {
    background-color: $colorprincipal;
    transition: 1s;
    border-radius: 1.5rem;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }

  li a:hover {
    color: white;
  }
}
/*----------fin header--------- */
/* ---------------------------- */

/* main */

/* banner */
.bannerImg {
  background-image: url(../img/stacked-waves-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

/* fin de banner */
/* ---------------------------- */

/* hero */
.container-hero {
  text-align: center;
  background-color: white;
  height: auto;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 4rem;

  .c-title-primary {
    font-size: map-get($headings, h1);
    font-weight: bold;
    color: rgb(102, 102, 102);
    text-shadow: 4px 3px 6px $colorprincipal;
    text-align: center;
    font-family: $font1;
    font-weight: 50px;
    /* word-wrap: break-word; */
  }

  p {
    text-align: center;
    color: rgb(102, 102, 102);
    font-size: 1.2rem;
    padding: 2rem;
    font-family: $font1;
  }

  .container-btn__btn {
    @include btn;
    background-color: $colorprincipal;
  }
}
/* fin hero */
/* ---------------------------- */

/* H2 */

.H2 {
  font-family: $font1;
  font-size: map-get($headings, h2);
  // background-image: url(img/blob-scene-haikei.svg);
  // background-size: cover;

  display: flex;
  align-items: baseline;
  margin-left: 30px;

  img {
    background-position: center;
    background-size: cover;
    background-position: center;
    margin: 40px 20px;
    opacity: 0.3;
  }

  .c-title-secondary {
    color: rgb(102, 102, 102);

    text-align: center;
    padding-top: 25px;
  }
}
/* fin H2 */
/* -----------------------*/

/* sec */

.sec {
  font-family: $font1;
  height: 225px;
  width: 100%;
  padding: 1.5rem;

  p {
    color: rgb(102, 102, 102);
    font-size: 1.2rem;
    text-align: left;
    line-height: 2em;
    margin: 1rem;
    padding: 1rem;
    border-left: 2px solid rgb(102, 102, 102);
  }
}
/* fin container-2 */
/* ---------------------------- */

/*section nosotros ------------*/
/* ----------------------------- */
.nosotros {
  color: rgb(102, 102, 102);
  height: 650px;
  width: 100%;
  padding-top: 40px;

  .nosotros__img {
    background-image: url(https://images.unsplash.com/photo-1643101808019-34feab61ea6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 325px;
  }

  .nosotros__text {
    height: 325px;
    width: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }

  .c-title-tertiary {
    font-family: $font1;
    font-size: map-get($headings, h3);
    font-weight: bold;
    padding-bottom: 2rem;
  }

  p {
    font-family: $font1;
    font-size: 1.1rem;
    text-align: justify;
  }
}

/* fin nosotros */
/* ---------------------------- */

/* TARJETAS */
/* ----------- */
.tarjetas {
  font-family: $font1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  grid-gap: 40px;

  .tarjA {
    @include tarjeta;
  }

  .tarjB {
    @extend .tarjA;
    background-color: $colortarjetas2;
  }

  .container {
    position: relative;
    clip-path: circle(0 0, 100% 0, 100% 85%, 0 100%);
    /* o ellipse */
  }

  .tarjeta:hover {
    transform: scale(1.04);
    box-shadow: 0 0 5px 5px rgb(158, 157, 157);
  }

  .container img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
  }
  .container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
  }

  .details {
    padding: 20px 10px;
    color: rgb(102, 102, 102);

    .c-title-quaternary {
      font-weight: 600;
      font-size: 18px;
      margin: 10px 0 15px 0;
    }
    p {
      font-family: $font1;
      font-size: 15px;
      line-height: 30px;
      font-weight: 400;
    }
  }
}
/* fin  tarjeta */
/* ---------------------------- */

/* dev */
.dev {
  width: 100%;
  background-image: url(../img/blob-scene-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background: linear-gradient(90deg, #fffcf8 8%, rgba(255, 186, 77) 100%); */
  border: 20px solid white;
  border-bottom: 0px;
  font-family: $font1;
  display: flex;
  height: 400px;
  width: 100%;

  overflow: hidden;

  .dev__ctn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    color: rgb(102, 102, 102);
  }

  h4 {
    text-align: center;
    font-size: map-get($headings, h4);
    font-weight: bold;
    padding-bottom: 2rem;
  }

  p {
    text-align: center;
    justify-content: center;

    overflow: hidden;
    font-size: 1rem;
  }

  .dev__btn {
    @include btn;
    background-color: $colorprincipal;
    flex-wrap: wrap;
  }
}

/* final dev */
/* ---------------------------- */

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: #f3f0f0;
  font-family: $font1;

  .footerctn {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-gap: 30px;

    .foo {
      .c-title-latest {
        position: relative;
        color: rgb(102, 102, 102);
        font-weight: 400;
        margin-bottom: 30px;
        &:before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 50px;
          height: 2px;
          background-color: rgb(255, 186, 77);
        }
      }
      p {
        color: rgb(102, 102, 102);
      }
      .rrss {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 50px);
        grid-gap: 10px;
        li {
          list-style: none;
          a {
            display: inline-block;
            text-decoration: none;
            width: 45px;
            height: 45px;
            line-height: 50px;
            color: white;
            margin-right: 10px;
            margin-bottom: 20px;
            background-color: rgb(255, 186, 77);
            border-radius: 1.5rem;
            text-align: center;
            transition: all 300ms ease;
            align-items: center;
            &:hover {
              background-color: rgb(255, 186, 77);
              opacity: 0.6;
              border-radius: 1.5rem;
            }
            .fa {
              color: white;
              font-size: 20px;
            }
          }
        }
      }
      .mapasad {
        position: relative;
      }
      .list-maps {
        .maps {
          list-style: none;

          a {
            list-style: none;
            color: rgb(102, 102, 102);
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
            &:hover {
              color: rgb(255, 186, 77);
              transition: 0.1s;
              opacity: 0.8;
            }
          }
        }
      }

      .info {
        position: relative;
        li {
          display: grid;
          grid-template-columns: 30px 1fr;
          margin-bottom: 16px;
          span {
            color: rgb(255, 186, 77) !important;
            &:nth-child(1) {
              color: rgb(102, 102, 102);
              font-size: 20px;
            }
          }
          p {
            a {
              color: rgb(102, 102, 102);
              text-decoration: none;
              &:hover {
                color: rgb(255, 186, 77);
                transition: 0.1s;
              }
            }
          }
        }
      }
    }
  }
}

.grupo-2 {
  width: 100%;
  background-color: #f3f0f0;
  padding: 8px 100px;
  text-align: center;
  color: rgb(102, 102, 102);
  font-family: $font1;

  small {
    font-size: 0.8rem;
  }
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }

  footer .footerctn {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  footer .footerctn {
    grid-template-columns: repeat(1, 1fr);
  }
  .tittle-primary {
    text-align: center;
  }
}

/* fin footer */
/* ------------ */

/* ------------------------- */
/* usarhtl.html */
@import "usarhlt";

/* ---------FIN---------------- */
/* usarhtl.html */

/* ------------------------- */
/* nosotros.html */
/* Galeria ---------- */
@import "nosotros";

/* Fin galeria------------ */
/* -------nosotros.html FIN----------------- */

/* comunidad.html--------------- */
/* ---------Comunidad-------------------- */
@import "comunidad";

/* comunidad.html--------------- */
/* -------Fin Comunidad---------------------- */

/* desarrollo.html--------------- */
/* ------- inicio---------------------- */
@import "desarrollo";

/* desarrollo.html--------------- */
/* -------fin desarrollo-------------------- */

/* media queries--------------- */
/* ----------------------------- */

@media (max-width: 576px) {
  // header
  header .checkbtn {
    display: block;
  }

  header #check:checked ~ ul {
    left: 0;
  }

  header nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(../img/blob-scene-haikei.svg);
    background-size: cover;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  header nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  li a {
    font-size: 18px !important;
  }

  ul li a:hover,
  ul li a.active {
    background-color: none;
    color: white;
  }
  // fin Header
  //

  // hero

  .container-hero span {
    font-size: 3rem;
  }
  // fin hero
  //

  // H2

  .H2 h2 {
    font-size: 25px;
  }
  // fin H2
  //

  //
  .sec p {
    font-size: 15px;
  }

  .tarjetas {
    display: flex;
    flex-direction: column;
  }
  .dev {
    height: 550px;
  }
}

@media (min-width: 768px) {
  .dev {
    height: 600px;
  }

  .nosotros {
    display: flex;
    height: 500px;
  }
  .nosotros__img {
    background-size: cover;
    width: 50%;
    height: 100%;
  }
  .nosotros__text {
    width: 50%;
    height: 100%;
  }

  .nosotros__text p {
    font-size: 1rem;
    line-height: 30px;
  }

  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
  .grid-container {
    display: flex;
  }

  // footer {
  //   grid-template-columns: (1, 1fr);
  // }
  .cmn {
    display: flex;
    height: 300px;
  }
  .cmn__text {
    height: 150px;
  }
}

/*# sourceMappingURL=estilos.css.map */
